body {
background-color: #f8f1e5;
font-family: Arial, sans-serif;
}

h1 {
color: #8b0000;
margin-bottom: 10px;
}

h2 {
color: #8b0000;
}

h3 {
color: #8b0000;
margin-bottom: 5px;
}

p {
color: #8b0000;
}

li {
color: #a52a2a;
}

table {
text-align: center;
margin: 20px auto;
border-collapse: collapse;
width: 80%;
}

th, td {
padding: 10px;
border: 1px solid #8b0000;
}

.btn {
display: inline-block;
padding: 8px 16px;
background-color: #00ced1;
color: #000;
text-align: center;
text-decoration: none;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
margin-bottom: 10px;
}

.btn:hover {
background-color: #00bfff;
}

/* Projects Section */
.project-container {
display: flex;
justify-content: space-between;
margin: 20px auto;
width: 90%;
}

.project-info {
flex-basis: 45%;
background-color: #f5f5f5;
padding: 10px;
border: 1px solid #8b0000;
border-radius: 6px;
}

.project-title {
color: #8b0000;
margin: 0;
}

.project-description {
margin-top: 5px;
}